.img{
    margin-top: -20px;
    width: 500px;
    margin-left: 350px;
}
.date{
    margin-top: 10px;
    margin-left: 350px;
    font-size: 30px;

}
.txt{
    margin-top: 10px;
    font-weight:  400px;
    font-size: 60px;
    margin-left: 350px;
}
.subtxt{
    flex: 155%;
    margin-top: 5px;
    margin-left: 350px;
    position: relative;
    width: 504px;
}
.author{
    margin-top: 50px;
    /* font-weight:  40000px;
    font-size: 40px; */
    margin-left: 350px;
    
}
.link{
    margin-left: 350px;
    font-weight:  400px;
    width:   400px;
min-width: 200px;
}